{% extends 'index.html' %}
{% load static %}
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Крутое облако</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/look.css' %}">
</head>
{% endblock %}
{% block content %}
    {% block header %}
    <div class="header">
    <h1>Облачко</h1>
        <div class="log">
        {% if not user.is_authenticated %}
            	<a href="{% url 'login' %}">Вход</a>
            {% else %}
                <a href=""><form action="{% url 'logout' %}", method="post">
                {% csrf_token %}
                <button type="submit">Выйти</button>
            </form></a>
                <a href="{% url 'cabinet' %}">Кабинет</a>
            {% endif %}
        </div>
    </div>
    {% endblock %}
    <div class="main">
        <div class="category">
            <h4>Поиск по категориям 🔍︎</h4>
            <h5><a href="{% url 'home' %}">Главная</a></h5>
            <h5><a href="{% url 'look' 'Ф'%}">Фото</a></h5>
            <h5><a href="{% url 'look' 'В'%}">Видео</a></h5>
            <h5><a href="{% url 'look' 'Д'%}">Документы</a></h5>
            <form action="{% url 'add' %}" method="post">
                {% csrf_token %}
                <button type="submit">Добавить файл +</button>
            </form>
        </div>
        <div class="work">
        {% if item.count < 5%}
            <table>
            <tr>
                <th>Файл</th>
                <th>Иконка</th>
                <th>Скачать</th>
            </tr>
            {% for one in item %}
                <tr>
                    <td>
                        {{ one.name }}
                    </td>
                    <td>
                        <img src="{% static one.img %}" alt="" width="256">
                    </td>
                    <td class="text">
                        <a href="{% static one.file %}" download>
                            <button>Скачать файл</button>
                        </a>
                        <a href="{% url 'delete' one.id %}">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% else %}
        <div class="more">
            {% for file in item %}
                <div class="card">
                    <img src="{% static file.img %}" alt="", width="250px">
                    <div class="info">
                        <h4>{{ file.name }}</h4>
                        <a href="{% static file.file %}" download>
                            <button>Скачать файл</button>
                        </a> 
                    </div>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        </div>
    </div>

{% endblock %}
</body>
</html>